*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
}

main{
    display: grid;
    grid-template-areas:
            'a a a a b b'
            'a a a a b b'
            'c c c d d d'
            'c c c e e e'
        ;   
    gap: 10px ;

    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 5vw;
    width: 60vw;
    box-sizing: border-box;
    grid-auto-rows: 1fr;

}

main div{
    padding: 2em;
    text-align: center;
    
   
}

.gridA{ 
    background-color: orangered;
    grid-area: a;
    
}

.gridB{
    background-color: orange;
    grid-area: b;
}

.gridC{
    background-color:green;
    grid-area: c;
}

.gridD{
    background-color: rgb(59, 171, 241);
    grid-area: d;
}

.gridE{
    background-color: rgb(59, 171, 241);
    grid-area: e;
}

.home{
    background-color: aliceblue;
}

h1{
    padding-bottom: 5%;
}